# http://docs.editorconfig.org/en/master/editorconfig-format.html

# top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 3

[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Shell script
[*.sh]
end_of_line = lf # prevents compatiblitiy issues when writing scripts in windows.

# Markdown
[*.md]
trim_trailing_whitespace = "false" # prevents layouts (bullet lists etc) failing