<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
		<!-- If you are using an internal nuget feed to produce packages, 
		     The following steps should be taken to prevent supply chain attacks (= malicious package injection)
		1) Claim your organisation prefix 
		2) Use this prefix in all your internal packages to be able to identify them
		3) Only connect through your internal feed to nuget -> ensuring that any packages with your prefix are 100% your own code
		4) Configure your internal feed to allow upstream packages so you still have access to everything else
		-->
		<!-- remove any machine-wide sources with <clear/> -->
		<clear />
		<add key="Internal" value="#LinkToAzureDevopsNugetFeed" />
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>